@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-secondary: #e5e7eb;
  --color-secondary-hover: #d1d5db;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}
